.paddle {
  background-color: black;
  border-radius: 10px;
  position: absolute;
}

.ball {
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

main {
  margin: 0 auto;
  border: 4px solid black;
  position: relative;
  height: 700px;
  width: 1200px;
}

.brick {
  position: absolute;
  background-color: darkblue;
  border-radius: 8%;
}